.btn,
button
    text-decoration: none
    background: #ffffff
    font-size: rem(25px)
    line-height: rem(25px)
    font-family: $default-font
    padding: 15px 35px
    &:hover
        text-decoration: none

.fx-sliderIn::after
    transition: width 0.5s ease-in-out
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 0

.ctrl-standard.fx-bubbleDown.is-reversed:hover::after
    height: 0


.ctrl-standard.fx-sliderIn
    color: $mainColor
    border-color: $mainColor
    &::after
        background: $mainColor

.ctrl-standard.fx-sliderIn.is-reversed::after
    width: 300%

.ctrl-standard.fx-sliderIn.is-reversed:hover
    color: $mainColor

.ctrl-standard.fx-sliderIn.is-reversed:hover::after
    width: 0

[class*="ctrl-"]
    border-radius: $borderRadius
    border: 2px solid $mainColor
    &[class*="fx-"]:hover,
    &[class*="fx-"].active
        color: #231f20
    &[class*="fx-"].is-reversed
        color: #ffffff

[class*="fx-"],
[class*="fx-"]:hover
    transition: color 0.5s ease-in-out

[class*="fx-"]:not(.fx-dyna)
    position: relative
    z-index: 1
    transition-delay: 0.2s !important
    overflow: hidden
    &::after,
    &::before
        content: ""
        display: block
        position: absolute
        z-index: -1

#contact-us-form
    button
        font-size: rem(20px)
        line-height: rem(20px)
        float: right

// Slide without background whitespace
.slide
    border-radius: $borderRadius
    display: inline-block
    background: none
    color: white
    position: relative
    transition: color .2s ease-in-out .2s
    border: 2px solid $mainColor
    z-index: 2
    &:hover
        text-decoration: none
        color: $mainColor
    &::after
        position: absolute
        content: ''
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $mainColor
        transform-origin: right
        transition: width .3s ease-in-out
        z-index: -1
    &:hover::after
        width: 0
