@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    #contact-us-form
        button
            display: block
            width: 100%


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    html, body
        @include rem-baseline(16px)
    h2
        font-size: rem(40px)
    h3
        //font-size: rem(36px)
    h5
        //font-size: rem(36px)
        margin: auto auto 15px
    p
        //font-size: rem(25px)
        font-size: 1.2rem

    #services
        margin: 0
    .social
        margin-left: 15px
        margin-right: 15px
    #contacts-block
        height: auto
        text-align: center
        .contact-us
            position: inherit
            a
                margin-bottom: 10px
        .follow-us
            text-align: center
            margin-top: 15px
            position: inherit
    .div-left img
        height: 40px

    .indent
        padding-top: 60px
    #contact-us-form
        $fsz: 25px
        input,
        textarea
            margin: 0 0 15px

    $mobileHeight: 110vh
    #particles-js-container
        height: $mobileHeight
        #particles-js
            height: $mobileHeight
        .footer a
            font-size: rem(12px)
        #t
            padding: 8% 0
            margin: 0
            font-size: rem(35px)


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

